.sidebar {
  height: 100%;
  min-width: calc(var(--drawerWidth) * 1px);
}

.presets {
  flex-shrink: 1;
  overflow-y: auto;
}

.scene {
  flex-grow: 1;
  padding: 20px;
  max-width: calc((400vh / 3) - 100px);
  margin: 0 auto;
}
