.Ruler {
  width: 20px;
  height: calc(var(--segments) * 10% * var(--ratio));
  position: absolute;
  bottom: 50%;
  left: calc((100% - (100% / var(--zoom))) / 2 + 5px);
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
}

.segment {
  flex-grow: 1;
  border-style: solid none none solid;
  --color: #000;
  border-color: var(--color);
  color: var(--color);
  border-width: 1px;
  width: 50%;
  &:nth-last-child(5n) {
    width: 75%;
  }
  &:nth-last-child(10n) {
    width: 100%;
    position: relative;
    &:after {
      font-size: 10px;
      content: attr(data-n);
      display: block;
      position: absolute;
      left: calc(100% + 2px);
      top: 0;
      transform: translateY(-60%);
    }
  }
}
